.container {
    background-color: #4A4A4A;
    border: 1px solid #00D9A5;
    border-radius: 30px;
    padding: 5px 15px;
    display: inline-block;
    width: auto;
    height: auto;
  }
  
  .title {
    font-size: 15px;
    color: #00D9A5;
    font-weight: 800;
  }